
<h4><%= plato.name %> </h4>
<p class="ps-text-grey">
    <%= plato.desc %>  <%= plato.price %>  
</p>
<button>
    <a href="/detalle/<%- plato.id %> "> VER MAS</a>
</button>
<br />
<!-- Carpaccio fresco
Entrada Carpaccio de salmón con cítricos
U$S 65.50 -->